/*
 * UI CSS.
 */

/* input overrides */
*:focus {
    outline: 0 !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
}

#bg-stars {
  position:fixed;
  z-index:1;
  pointer-events: none;
}


/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html,
body {
  height:100%;
  width:100%;

  overflow:hidden;

  font-family: 'Dosis', sans-serif;
}

body {
  background-color:#e5e5e5;
}
