/*
 * UI CSS.
 */

/* input overrides */
*:focus {
    outline: 0 !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
}


/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html,
body {
  font-family: 'Dosis', sans-serif;
}

body {
  background-color:#e5e5e5;
}
