.navbar {
  margin-bottom:0 !important;
}

#navbar-header,
#navbar-default,
#navbar-brand {
  height:75px !important;
}

#navbar-header {
  margin:0;
  padding:0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;

  width:270px;
}

#navbar-header img {
  display:inline-block;
  height: 35px;
  width: auto;
}
#navbar-header span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  font-size:2.5em;
}

#navbar-default {
  z-index: 10;
  background-color: #f7f7f7 !important;

  /** border bottom **/

  $boxshadow: 0px 2px 1px 0px rgba(102, 93, 93, 0.2);
  box-shadow:           $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow:    $boxshadow;
}

.navbar-logo {
  padding-top:2px;
  color: #000000;
  font-size:2em;
}

.ui {
  position:fixed;
  margin-top:75px;
  margin-bottom:75px;
  top:    0;
  bottom: 0;
  right:  0;
  left:   0;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  max-height: calc(100% - 75px);
}

.sidebar {
  position:absolute;
  float:left;
  user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;

  height:100%;
  width: 275px;
  background-color: #778484;
}

.bottom {
  font-family: 'Roboto', sans-serif;
  position: fixed !important;
  height: 75px;
  background-color:#FFFFFF;
  width:100%;
  bottom:0;

  $boxshadow: 0px -2px 1px 0px rgba(102, 93, 93, 0.2);
  box-shadow:           $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow:    $boxshadow;
}

.actions,
.bottom-credit {
  font-size:1.1em;
  font-weight:300;
  color: #000000;
  line-height:75px;
}

.bottom-credit {
  float:left;
  padding-left:20px;
}

.actions {
  padding-right: 20px;
}

.nav-links {
  padding:0;
  margin:0;

  padding:10px;
  list-style: none;
}

.nav-links li {
  text-align: center;
  font-size:1em;
  font-weight: 500;
  color: #FFFFFF !important;

  padding:5px;
}

.nav-links li a {
  height:100%;
  width: 100%;
  color: #FFFFFF;
}

.nav-links li:hover {
  border-radius: 2px;
  background-color: #596363;
}

.nav-links li a:hover {
  text-decoration: none !important;
}

.user-profile {
  padding: 7px;
}

.user-image-dash {
  padding:20px;
  text-align:center;
}

.user-image-dash img {
  height: 100px;
  width: 100px;
  border-radius:90px;
}

.user-info {
  text-align:center;

  font-size: 1.2em;
  font-weight: 500;
  color: #FFFFFF;

  margin-bottom: 20px;
}

.content {
  overflow-x: auto;
  margin-left: 275px;
  height: 100%;
  padding:20px;
}
.content h1 {
  font-weight:500;
  margin:0;
}

.welcome {
  padding:20px;
}

.welcome h1 {
  font-size: 1.5em;
}

.AssignmentBox,
.AssignmentList {
  overflow-x:auto;
  width:100%;
}


$ASIGNPAD: 0px 20px 3px 20px;

.Assignment {
  position: relative;
  background-color: #FFFFFF;
  border-radius:2px;

  display: inline-block;

  border: 1px solid #dbd8d8;
  border-width: 1px 1px 2px 1px;

  float:left;

  width:300px;
  height:300px;

  margin:10px;
}

.recent-header {
  border-bottom: 1px solid #dbd8d8;
  border-bottom-width: 1px 1px 2px 1px;

  width:100%;
}

.recent-header h2 {
  padding: $ASIGNPAD;
  font-size: 1.6em;
  font-weight: 400;
}

.recent-inner {
  margin-top:20px;
  padding: $ASIGNPAD;
}

.recent-info {
  width: 100%;
  position: absolute;
  bottom:0;
  padding: $ASIGNPAD;
}

.date {
  line-height: 39px;
  float:left;
}

#assignac {
  margin:0;
  width: 100px;
  float: right;
}

#assignopt {
  display: inline-block;
  width: 100px;
}

.assignopts {
  margin-left:-20px;
  position: absolute;
  left: 0;
  height:100px;
}


.loading-text {
  margin:0;
  padding:0;

  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.loading-text h1 {
  margin:0;
  padding:0;
}
