.settings-wrapper {
  width: 100%;
  background-color: #FFFFFF;

  margin:0 auto;

  max-width: 750px;

  padding: 20px;
}

.settings-title h1 {
  font-size: 1.7em;
  color: #333333;
}

.settings-option {
  margin-top:10px;
}

.assigninfo {
  margin-top: 10px;
  position: relative;
}


#nu:hover {
  text-decoration: none;
}
