{{{header}}}
  <script type="text/javascript">if(!window.isadmin) window.location.hash = '/dashboard'</script>
  
  <h1>Hello, admin!</h1>

  <script type="text/javascript">
    /* $('.Assignment').on('click', function(elem) {
      var json = $(this).attr('data-json');
      $.cookie('triton_assignmentinfo', json, {
        path: '/',
        domain: window.API_CONFIG.domain
      })
      window.location.hash = '/dashboard/assignment';
    }) */
  </script>
{{{footer}}}
