</div>
</div>

<!-- Footer -->
<div class="navbar navbar-default bottom">
<div class='bottom-credit pull-left'>
  &copy; 2016 Jared Allard
</div>

<div class='actions pull-right'>
  <a href="https://github.com/tritonjs">github.com/tritonjs</a>
</div>
</div>
