<div class="navbar navbar-default">
  <div>
    <div id='navbar-header' class="navbar-header">
      <img src="/css/img/tbN.png" />
    </div>
  </div>
</div>

<!-- UI Wrapper -->
<div class='ui'>
  <div class='sidebar'>
    <div class='user-profile'>
      <div class='user-image-dash'>
        <img src="{{image}}" />
      </div>

      <div class='user-info'>
        {{info}}
      </div>


      <ul class='nav-links'>
        <a id='nu' href="#/dashboard"><li>Assignments</li></a>
        <a id='nu' href="#/dashboard/settings"><li>Settings</li></a>
        <a id='nu' href="#/contact"><li>Contact</li></a>
      </ul>
    </div>
  </div>

  <div class='content'>
