<header role="banner" id="fh5co-header">
    <div class="container">
      <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
           <a style='border-bottom:none;' class="navbar-brand" href="/">TRITON</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a style='border-bottom:none;' href="#" data-nav-section="home"><span>Home</span></a></li>
              <li><a style='border-bottom:none;' href="#" data-nav-section="services"><span>Features</span></a></li>
              <li><a style='border-bottom:none;' href="#" data-nav-section="about"><span>About</span></a></li>
              <li><a style='border-bottom:none;' href="#" data-nav-section="contact"><span>Contact</span></a></li>
              <li><a style='border-bottom:none;' onclick='window.location.hash = "/login";' style='cursor: pointer;'><span>Dashboard</span></a></li>
            </ul>
          </div>
        </nav>
      <!-- </div> -->
    </div>
</header>

<section id="fh5co-home" data-section="home" style="background-image: url(images/IDE_BACKDROP.jpg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate">A <i>modern</i> programming classroom.</h1>
            <h2 class="to-animate">Stop teaching code using obscure methods</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-intro">
  <div class="container">
    <div class="row">
      <div class="fh5co-block " style="">
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-bulb"></i>
          <h2>Innovative</h2>
          <p>Innovative environment, with <a href="https://c9.io/">Cloud9 Core</a> as our IDE, and an innovative management UI, you'll love teaching programming again.</p>
          <p><a href="#" data-nav-section="contact" class="btn btn-primary">Contact Us</a></p>
        </div>
      </div>
      <div class="fh5co-block " style="">
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-wrench"></i>
          <h2>Develop</h2>
          <p>Develop anything, and access it from anywhere. We give you a shell and access to :8080. Oh yeah.</p>
          <p><a href="#" data-nav-section="contact" class="btn btn-primary">Discover More</a></p>
        </div>
      </div>
      <div class="fh5co-block " style="">
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-rocket"></i>
          <h2>Launch</h2>
          <p>You can host TRITON yourself, or have us manage the hard part for you. With 99.9% SLA, we've got your back.</p>
          <p><a href="https://github.com/tritonjs" class="btn btn-primary">Github</a></p>
        </div>
      </div>
    </div>
    <div class="row watch-video text-center ">
      <!-- TODO: Video
        <span>Watch the video</span>
        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>
      -->

      <br /> <br /> <br />
      <span style='font-size: 2.2em; font-weight: 400;'>Focus on your students code, not what they code on</span>
    </div>
  </div>
</section>

<!-- <section id="fh5co-testimonials" data-section="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="">Testimonials</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext ">
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box-testimony">
          <blockquote class="-2">
            <p>&ldquo;&rdquo;</p>
          </blockquote>
          <div class="author ">
            <figure><img src="images/person1.jpg" alt="Person"></figure>
            <p>
            Jean Doe, CEO <a href="" target="_blank"></a> <span class="subtext">Creative Director</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="fh5co-services" data-section="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border ">Features</h2>
        <div class="row">
          <div class="col-md-8 subtext ">
            <h3>We've got tons of cool features.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-service ">
        <i class="icon -2 icon-anchor"></i>
        <h3>Availability</h3>
        <p>TRITON is backed by <a href="https://rancher.com">Rancher</a> and runs on <a href="https://digitalocean.com">Digital Ocean</a>, all of which are production and performance oriented. If you're on, we're up.</p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service ">
        <i class="icon -2 icon-layers2"></i>
        <h3>Service Powered</h3>
        <p>TRITON is microservice oriented which means if one service fails, we'll automatically re-create it and attempt to keep the platform up.</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-6 col-sm-6 fh5co-service ">
        <i class="icon -2 icon-video2"></i>
        <h3>Photo &amp; Video</h3>
        <p>If you can embed it in markdown, TRITON will show it to your user. Supports almost all formats.</p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service ">
        <i class="icon -2 icon-monitor"></i>
        <h3>Interface</h3>
        <p>We've got a clean, material hybrid design which your users will automatically know how to use. Even the administators. Don't sweat over it.</p>
      </div>

    </div>
  </div>
</section>

<section id="fh5co-about" data-section="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="">About</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext ">
            <h3>We've got a talented team behind this platform!</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="fh5co-person text-center">
          <figure><img src="https://secure.gravatar.com/avatar/7d46e1b0ff6967c765583600be23bf86?r=g&d=https%3A%2F%2Ftritonjs.com%2Fcss%2Fimg%2Fuser.png&s=200" alt="Image"></figure>
          <h3>Jared Allard</h3>
          <span class="fh5co-position">Lead Developer</span>
          <p>18 year old Full Stack JavaScript Developer.</p>
          <ul class="social social-circle">
            <li><a href="https://twitter.com/jaredallard"><i class="icon-twitter"></i></a></li>
            <li><a href="https://jaredallard.me"><i class="icon-globe"></i></a></li>
            <li><a href="https://github.com/jaredallard"><i class="icon-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-counters" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="fh5co-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center ">
        <h2>Fun Facts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="fh5co-counter ">
          <i class="fh5co-counter-icon icon-briefcase -2"></i>
          <span class="fh5co-counter-number">40</span>
          <span class="fh5co-counter-label">Finished assignments</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="fh5co-counter ">
          <i class="fh5co-counter-icon icon-code -2"></i>
          <span class="fh5co-counter-number">63320</span>
          <span class="fh5co-counter-label">Lines of code</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="fh5co-counter ">
          <i class="fh5co-counter-icon icon-cup -2"></i>
          <span class="fh5co-counter-number">25</span>
          <span class="fh5co-counter-label">Cups of coffee</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="fh5co-counter ">
          <i class="fh5co-counter-icon icon-people -2"></i>
          <span class="fh5co-counter-number">8</span>
          <span class="fh5co-counter-label">Happy users</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-intro" data-section="work">
  <div class='sponsor-header'>
    <h2>Sponsors</h2>
  </div>

  <div class='container'>
    <div class="row">
      <div class='col-md-4 col-sm sponsor'>
        <img class='sponsor-img' src="https://www.digitalocean.com/assets/media/logos-badges/png/DO_Logo_Horizontal_Blue-3db19536.png" />
      </div>

      <div class='col-md-4 sponsor'>
        <img class='sponsor-img' src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png' />
      </div>

      <div class='col-md-4 sponsor'>
        <img class='sponsor-img' src='https://www.weave.works/wp-content/uploads/AmazonWebservices_Logo.svg_.png' />
      </div>
    </div>
  </div>

  <br /><br /><br /><br />
</section>

<!-- <section id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="">Get In Touch</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext ">
            <h3>Want to use this at your school? Contact us for a price quote!</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-6 col-md-offset-5 ">
        <ul class="fh5co-contact-info">
          <li class="fh5co-contact-address ">
            <i class="icon-home"></i>
            2410 E Cherry St<br />Seattle, WA 98122
          </li>
          <li><i class="icon-phone"></i> (206) 375 9640</li>
          <li><i class="icon-envelope"></i>jaredallard@tritonjs.com</li>
          <li><i class="icon-globe"></i><a href="https://tritonjs.com">https://tritonjs.com</a></li>
        </ul>
      </div> -->

    <!-- TODO: Contact Form.  <div class="col-md-6 ">
        <h3>Contact Form</h3>
        <div class="form-group ">
          <label for="name" class="sr-only">Name</label>
          <input id="name" class="form-control" placeholder="Name" type="text">
        </div>
        <div class="form-group ">
          <label for="email" class="sr-only">Email</label>
          <input id="email" class="form-control" placeholder="Email" type="email">
        </div>
        <div class="form-group ">
          <label for="phone" class="sr-only">Phone</label>
          <input id="phone" class="form-control" placeholder="Phone" type="text">
        </div>
        <div class="form-group ">
          <label for="message" class="sr-only">Message</label>
          <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group ">
          <input class="btn btn-primary btn-lg" value="Send Message" type="submit">
        </div>
        </div>
      </div> -->

    </div>
  </div>
  <div id="map" class=""></div>
</section>


<footer id="footer" role="contentinfo">
  <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="container">
    <div class="">
      <br />
      <div class="col-md-12 text-center">
        <p>&copy; TRITON<br />All Rights Reserved.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li><a href="https://twitter.com/tritonjs"><i class="icon-twitter"></i></a></li>
          <li><a href="https://github.com/tritonjs"><i class="icon-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
