<div class='index-wrapper'>
  <div class='index-inner'>
    <div class='index-head'>
      <div class='logo'>
        <span>TRITON</span>
      </div>
    </div>

    <div class='index-image'>
      <div class='index-image-toolbar'>
        <div class='toolbar-init'></div>
        <div class='toolbar-btn toolbar-btn-red'></div>
        <div class='toolbar-btn toolbar-btn-yellow'></div>
        <div class='toolbar-btn toolbar-btn-green'></div>
      </div>
      <img src="/css/img/dashboard.png" />
    </div>

    <div class='index-container'>
      <div class='index-wrap'>
        <div class='index-intro'>
          <div class='index-dash'>&nbsp;</div>
          A <i>modern</i> classroom.
        </div>

        <div class='index-btns' onclick='window.location = "#/login"'>
          <div class='index-login-btn'>
            <p>LOGIN</p>
          </div>
        </div>
      </div>
    </div>

    <div class='info'>

    </div>
  </div>
</div>
