<div class='login'>
  <div class="container">

    <div class='login-header'>
      <img src="/css/img/twN.png" />
    </div>

    <div class='login-container'>
      <div class='user-image'>
        <img id='login-image' src="/css/img/user.png" />
      </div>

      <!-- Email Form -->
      <form role="form" class="form-group label-floating" data-toggle="validator">
        <label for="email" class="control-label">Email</label>
        <input id="login-email" type="email" class="form-control" data-error="Email please." required autofocus autocomplete="off">
        <div class="help-block with-errors"></div>
      </form>

      <form class="form-group label-floating is-empty">
        <label for="password" class="control-label">Password</label>
        <input id="login-password" type="password" class="form-control" required>
      </form>

      <div id='login-error' class='error has-error has-danger' style='text-align:center;display:none;'>
        <span style='color:red;'>Invalid Credentials</span>
      </div>

      <br />
      <button id='login-submit' class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
      </button>

      <br />
    </div>
    <div class='signup'>
      Don't have an account?&nbsp;&nbsp;<a href="/#/register" class="new-account">Sign Up</a>
    </div
  </div>
</div>

<script type="text/javascript">
  $("#login-password").keyup(function(event){
      if(event.keyCode == 13){
          login();
      }
  });
</script>
