<div class='Assignment'>
  <div class="recent-header">
    <h2>{{name}}</h2>
  </div>

  <div class='recent-inner'>

    <div class="recent-desc">
      {{yield}}
    </div>

  </div>

  <div class="recent-info">
    Test
  </div>
</div>
