{{#dashboard-header user=model}}
  {{#each model.assignments as |assignment|}}
    {{#assignment-box name=assignment.name}}
      {{assignment.info.desc}}
    {{/assignment-box}}
  {{else}}
    <h1>Failed to Obtain Assignment List</h1>
  {{/each}}
{{/dashboard-header}}
