<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-logo">NovaJS</h1>
    </div>
  </div>
</div>

<div class='ui'>
  <div class='sidebar'>
    <div class='user-profile'>
      <div class='user-image'>
        <img src="{{model.image}}" />
      </div>

      <div class='user-info'>
        {{model.name}}
      </div>


      <ul class='nav-links'>
        <li><a href="assignments">Assignments</a></li>
        <li><a href="settings">Settings</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class='content' id='content'></div>
</div>

<div class="navbar navbar-default bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class='bottom-credit'>
        &copy; 2016 Jared Allard
      </div>
    </div>
  </div>
</div>
